body{
  margin:0;
}

/*div{
  background-color: #E4F9F5;
  font-style: italic;
}*/
.top-container{
  background-color: #E4F9F5;

  /*width: 260px;
  height: 260px;
  border: solid 10px;
  padding: 20px;
/*  margin-left: 50px;*/
  /*hanging-punctuation: first-top: 50px;*/
}
.middle-container{
  background-color:aqua;

  width: 260px;
  height: 260px;
  border: solid 20px;
  padding: 40px;
  margin-left: 320px;
  /*hanging-punctuation: first-top: 50px;*/
}

.bottom-container{
  background-color: tomato;
  /*width: 260px;
  height: 260px;
  border: solid 10px;
  padding: 20px;
  margin-left: 700px;
}
